In [20]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df.head(2)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"

In [2]:
melb_df['Address'].nunique()

13378

In [6]:
def street_type_creator(street):
    exclude_list = ['N', 'S', 'E', 'W']
    street = street.split(' ')
    street_type = street[-1]
    if street_type in exclude_list:
        street_type = street[-2]
    return street_type

street_types_list = melb_df['Address'].apply(street_type_creator)
street_types_list.nunique()

56

In [13]:
most_popular_street_types = street_types_list.value_counts().nlargest(10).index
most_popular_street_types

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [14]:
melb_df['Street type'] = street_types_list.apply(lambda x: x if x in most_popular_street_types else 'other')
melb_df['Street type'].value_counts()

St       8012
Rd       2825
Ct        612
Dr        447
other     420
Av        321
Gr        311
Pde       211
Pl        169
Cr        152
Cl        100
Name: Street type, dtype: int64

In [21]:
melb_df.head(3)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"

In [24]:
melb_df['Address'].nunique()

13378

In [31]:
def street_type_creator(street):
    exclude_list = ['N', 'S', 'E', 'W']
    street = street.split(' ')
    street_type = street[-1]
    if street_type in exclude_list:
        street_type = street[-2]
    return street_type

street_types_list = melb_df['Address'].apply(street_type_creator)
melb_df['Street type'] = street_types_list

In [39]:
def street_types_cut(streets):
    street_type = streets
    if streets == 'Avenue':
        street_type = 'Av'
    if streets == 'Boulevard':
        street_type = 'Bvd'
    if streets == 'Parade':
        street_type = 'Pde'
    return street_type

street_types_list = melb_df['Street type'].apply(street_types_cut)
MVP_Streets = street_types_list.value_counts().nlargest(10).index
MVP_Streets

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [40]:
melb_df['Street type'] = melb_df['Street type'].apply(lambda x: x if x in MVP_Streets else 'OTHER')
melb_df['Street type'].value_counts()

St       8012
Rd       2825
Ct        612
Dr        447
OTHER     420
Av        321
Gr        311
Pde       211
Pl        169
Cr        152
Cl        100
Name: Street type, dtype: int64

In [49]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['WeekDay Sale'] = melb_df['Date'].dt.dayofweek
melb_df['WeekDay Sale'].value_counts()

5    11759
6     1063
0      597
1      133
3       28
Name: WeekDay Sale, dtype: int64

In [54]:
def get_weekend(weekday):
    is_weekend = 1
    if weekday in [0,1,2,3,4]:
        is_weekend = 0
    return is_weekend

In [57]:
melb_df['is_weekend'] = melb_df['WeekDay Sale'].apply(get_weekend)
melb_df['is_weekend'].value_counts()

1    12822
0      758
Name: is_weekend, dtype: int64

In [60]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  datetime64[ns]
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
 23  Street type    13580 non-null  object
 24  WeekDay Sale   13580 non-null  int64
 25  is_weekend     13580 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(10), object(9)
memory usage: 2.7+ MB

In [62]:
mean_price = melb_df[melb_df['is_weekend'] == True]['Price'].mean()
round(mean_price)

1081199