In [4]:
import pandas as pd
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
ufo_data.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [6]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], dayfirst=False)
ufo_data['Time']

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [8]:
all_years = ufo_data['Time'].dt.year
all_years.mode()[0]

1999

In [16]:
Nevada_UFO = ufo_data['State'] == 'NV'
Nevada_UFO.value_counts()

False    17957
True       284
Name: State, dtype: int64

In [17]:
ufo_data['Date'] = ufo_data['Time'].dt.date
ufo_data[ufo_data['State']=='NV']['Date'].diff().dt.days.mean()

68.92932862190813

In [18]:
ufo_data.head(2)

,City,Colors Reported,Shape Reported,State,Time,Date
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00,1930-06-01
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930-06-30